# Server
OPUS_SERVER_HOST=0.0.0.0
OPUS_SERVER_PORT=8080
OPUS_SERVER_ENV=production

# Database
OPUS_DATABASE_DRIVER=sqlite
OPUS_DATABASE_DSN=$HOME/.opus/opus.db

# Auth
OPUS_AUTH_SECRET=
OPUS_AUTH_ACCESS_TOKEN_TTL=15
OPUS_AUTH_REFRESH_TOKEN_TTL=10080

# Auth - Google
OPUS_AUTH_GOOGLE_CLIENT_ID=
OPUS_AUTH_GOOGLE_CLIENT_SECRET=
OPUS_AUTH_GOOGLE_REDIRECT_URL=

# Auth - GitHub
OPUS_AUTH_GITHUB_CLIENT_ID=
OPUS_AUTH_GITHUB_CLIENT_SECRET=
OPUS_AUTH_GITHUB_REDIRECT_URL=
